.blog-form-wrapper {
  @include base-grid();
  grid-template-columns: 1fr;
  padding: 42px;

  @include input-element();
  input {
    margin-bottom: 0px;
  }

  .image-uploader { 
    @include base-grid();
    grid-template-columns: 200px;

  }
  //added style for personal preference. Not part of Jorden's updated styles
  .save-btn {
    @include base-btn();
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 70px;
    margin-left: 333px;
    height: 35px;

  }

}
