.portfolio-sidebar-list-wrapper {
    .portfolio-item-thumb{
        padding: 21px;

        .portfolio-thumb-img img{ 
            width: 100%;
        }
        .text-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title { 
                font-family: "Bitter", sans-serif;
                color: $offwhite;
                font-size: 1.5rem;
                font-weight: 400;
            }

            .actions {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 15px;

                .action-icon { 
                    color: $offwhite;
                    transition: 0.5s ease-in-out;
                    color: $offwhite;
                    font-size: 1.25rem;
                    cursor: pointer;
    
    
    
                    
                    &:hover { 
                        color: $warning;
                    }
                }
            }


        }
    }
}